<%= form_with(model: consultum, local: true) do |form| %>
  <% if consultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
      <% consultum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombreDoctor %>
    <%= form.text_field :nombreDoctor %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :diagnostico %>
    <%= form.text_area :diagnostico %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
