<p id="notice"><%= notice %></p>

<h1>Consulta</h1>

<table>
  <thead>
    <tr>
      <th>Nombre Doctor</th>
      <th>Fecha</th>
      <th>Diagnostico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consulta.each do |consultum| %>
      <tr>
        <td><%= consultum.nombreDoctor %></td>
        <td><%= consultum.fecha %></td>
        <td><%= consultum.diagnostico %></td>
        <td><%= link_to 'Mostrar', consultum %></td>
        <td><%= link_to 'Editar', edit_consultum_path(consultum) %></td>
        <td><%= link_to 'Eliminar', consultum, method: :delete, data: { confirm: 'Estas seguro de eliminar esta consulta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva consulta', new_consultum_path %>
